<script src="/.static/js/jquery.min.js"></script>
<span id="navLinkSpan">
    [<a href="/">Home</a> / 
    <a href="/latest">Latest Posts</a>]
    [<span class="dropdown">
        <a class="dropbtn">Main Boards</a>
        <div class="dropdown-content">
          <a href="/study">Academics</a>
          <a href="/house">Housing</a>
          <a href="/food">Dining & Cooking</a>
          <a href="/clife">Campus Life</a>
          <a href="/work">Jobs</a>
        </div>
    </span> /
      <span class="dropdown">
        <a class="dropbtn">Five Colleges</a>
        <div class="dropdown-content">
          <a href="/amherst">Amherst College</a>
          <a href="/hamp">Hampshire College</a>
          <a href="/smith">Smith College</a>
          <a href="/mount">Mount Holyoke</a>
          <a href="/other">Other Colleges</a>
        </div>
    </span> /
    <span class="dropdown">
        <a class="dropbtn">Interests</a>
        <div class="dropdown-content">
          <a href="/adv">Advice</a>
          <a href="/art">Art & Photos</a>
          <a href="/mu">Music</a>
          <a href="/tv">TV & Film</a>
          <a href="/a">Anime</a>
          <a href="/spf">Sports & Fitness</a>
          <a href="/lit">Literature</a>
          <a href="/fa">Fashion</a>
          <a href="/uhub">Site Meta</a>
        </div>
    </span>]
    [<span id="lastHeader">Style:</span>]
</span>
<span id="navBoardsSpan"> </span>
<span id="navOptionsSpan"> </span>
